
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    margin: auto;
    width: 500px;
}

body {
    background-color: rgb(39, 38, 38);
    color: lightgray;
}

#playlistholder {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.album-icon {
    width: 50px;
}

h1 {
    font-family: 'Raleway', serif;
    margin-bottom: 70px;
}

li {
    text-decoration: none;
    list-style: none;
    border-bottom: .5px solid lightgray;
    width: 400px;
    margin-bottom: 10px;
}

.listitem {
    display: flex;
    flex-direction: row;
    gap:7px;
    cursor: pointer;
}

.player-img-div {
    
}

.button-container {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: darksalmon;
    color:rgb(39, 38, 38);
    font-family: 'Raleway', serif;
    font-size: 16px;
}

.music-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-text {
    font-family: 'Raleway', serif;
    font-size: 16px;
}

.song-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}